*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    width: 100%;
}
::selection{
    background-color: #F17877;
    color: white;
}
/*______________________*/

.container{
    margin-top: 2em;
    width: 100%;
}
h1{
    font-family: 'Nunito';
    font-weight: 600;
    color: #446b50;
    text-align: center;
    vertical-align: middle;
    padding-top: 1em;
}
.row{
    margin: 0;
}
/*---barre de recherche---*/
.input-group{
    margin-top: 3em;
    width: 100%;
    border-color: #F17877;
    padding: 0 4em;
}
input[type="search"]{
    border-color: #F17877;
    border-radius: 0;
}
.input-group-text{
    background:transparent;
    color:#F17877;
    font-size: 1.5em;
   align-content: center;
   cursor: pointer;
}

.input-group-text:focus{
    outline: none;
}
.input-group input:focus{
    border-color: #F17877;
    box-shadow: inset 0 1px 1px white, 0 0 8px #F17877;
    outline: none;
}
.input-group-text:hover{
    color: #F7C0AA;
}
.input-group-text:active{
    transform: rotate(15deg);
}
/*___________________________________________________________*/

/*filter*/
.filter{
    width: 100%;
    padding: 2em 15%;
    margin-top: 3em;
    background: rgb(250, 250, 250);
    left: 20px;
}
ul.loca, ul.comp{
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 0;
}

/*---systeme de carte---*/
#entrecard{
    padding: 2em;
}
.card{
    margin-bottom: 1em;
    border-color: #F17877;
    box-shadow: 3px 3px 3px #F7C0AA;
    border-radius: 5px;
}
.image{
    display: flex;
    justify-content: center;
    padding: 0;
}

.btnms i{
    font-size: 1.5em;
    color: #F17877;
}
.btnms i:hover{
    color:#F7C0AA;
    transform: rotate(15deg);
}
ul.info{
    list-style: none;
}

ul.info li{
    font-family: 'Nunito';
    font-weight: 600;
}
#np{
    text-align: center;
}

/*pagination*/
#page{
    padding: 4;
    margin-bottom: 2em;
}
ul.pagination {
    position: relative;
    background: #fff;
    display: flex;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
}
ul.pagination a{
    text-decoration: none;
    display: block;
    color: #446b50;
    font-family: 'Nunito';
    font-weight: 600;
    border-radius: 20%;
}
ul.pagination li{
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
}
ul.pagination li.pgnbr{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
ul.pagination li.pgnbr:hover a{
    background: #64a587;
    color: white;
}
ul.pagination:first-child{
    margin-right: 30px;
    font-weight: 700;
    font-size: 20px;
}
ul.pagination:last-child{
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
}
/*--responsivity--*/
@media (max-width: 960px){
    ul.filter li{
        display:inline;
        margin-inline-end: 0;
    }
    .filterby{
        padding: 0;
    }
    .input-group{
        padding: 0;
    }
    #page{
        width: 100%;
        padding: 0;
    }
    .prev, .next{
        font-size: 15px;
    }
    ul.pagination{
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 15px;
    }
    ul.pagination:first-child{
        margin-right: 0;
    }
    ul.pagination:last-child{
        margin-left: 0;
    }
    ul.pagination li{
        margin: 0 2px;
    }
    ul.pagination li.pgnbr{
        width: 20px;
    }
    .filter {
        width: 100%;
        height: fit-content;
        position: relative;
        margin-top: 1em;
        left: 0;
        right: 0;
        padding: 2em;
    }
    .container{
        width: 100%;
        margin-left: 0;
    }
}  
