body {
	background: url(\/Image/fond.png) no-repeat center center fixed;
	background-size: cover;
	cursor: default;
	font-family: 'Roboto Condensed', sans-serif;
}

/*
*{
	border: solid;
}
*/
.plus ul{
        color: rgba(38, 50, 56, .87);
        font-family: 'Roboto Condensed', sans-serif;
        list-style: none;
        font-size: 20px;
        font-weight: 400;
        padding: 0;
    
}
.plus {
    padding: 50px 50px;
	height: fit-content;
}
.truc {
    padding: 50px 0;
    margin: 0 50px;
	height: fit-content;
}
.role{
	background-color: gray;
	font-weight: 600;
	padding:.2em .5em .2em .5em;
	border-radius: 25px;
	text-align: center;
	font-size: medium;
	color: lavender;
}
#thelogo {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	position: relative;
	display: block;
	margin: 30px;
	-webkit-filter: sepia(.25);
	-moz-filter: sepia(.25);
	filter: sepia(.25);
}
#profile {
    margin: 0;
	display: flex;
	justify-content: center;
    align-items: center;
}
#card{
    background-color: white;
    width: 80%;
    height: fit-content;
    padding-bottom: 5em;
    margin: 10% auto;
    left: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}
.truc{
    border-top: solid gainsboro 1px;
}
.btn{
	display: block;
	width: 80%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	font-size: 1rem;
    color: #fff;
    background-color:#64a587;
    font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
    margin: 1rem auto;
    left: 50%;
    right: 50%;
}
.btn:hover{
    box-shadow: 0px 2px 5px rgba(78, 78, 78, 0.411);
    transform: scale(1.01,1);
}
.row{
    justify-content: center;
    margin-top: 1em;
}
#truc li  {
    display: inline;
    margin-right: 20px;
}
#truc{
    list-style-type: none;
    padding: 0;
}
h1 {
	color: rgba(38, 50, 56, 1);
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 36px;
	font-weight: 700;
    margin: 40px 0;
}
#profile {
	color: rgba(38, 50, 56, .87);
	font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
	font-size: 20px;
	font-weight: 400;
    padding: 0;
}
#profil {
	color: rgba(38, 50, 56, .87);
	font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
	font-size: 20px;
	font-weight: 400;
    padding: 0;
}
.date {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: fit-content;
    margin: 1px;
    padding: 3px 10px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    font: normal Ubuntu,Arial,sans-serif;
    font-size: 14px;
    color: rgb(73, 73, 73);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    background: rgba(223, 223, 223, 0.9);
  }
.comment {
	padding: 10px 50px 10px 50px;
}

@media (max-width: 990px) {
    .date{
        margin: 20px 0;
    }
.row{
    width: 100%;
    margin-left:0px;
    margin-top: 0;
}
.comment{
    padding: 20px;
}
#truc li  {
    display: block;
    margin-right: 20px;
}
h1 {
	color: rgba(38, 50, 56, 1);
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 36px;
	font-weight: 700;
    margin-top: 0;
	text-align: center;
}
#user {
	margin: 0 2em; 
}
  }