
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-svg{
    display: flex;
    position: absolute;
    top: 50%;
    width:100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 50;
}
.logo-svg svg{
    position: absolute;
    max-width: 300px;
    width: 90%;
}
.logo-svg path{
    fill: transparent;
    stroke: #a12d88;
    stroke-width: 2em;
    stroke-dasharray: 9600;
    stroke-dashoffset: 0;
    animation: logoanim 3s linear forwards;
    -webkit-animation: logoanim 3s linear forwards;
    -moz-animation: logoanim 3s linear forwards;
    
}

@-moz-keyframes logoanim{
    0%{
        stroke-dashoffset: 9600;
    }
    40%{
        stroke-dashoffset: 4300;
        fill: transparent;
    }
    80%{
        stroke-dashoffset: 0;

    }
    100%{
        fill: #5f0f4e;
    }
}
@-webkit-keyframes logoanim{
    0%{
        stroke-dashoffset: 9600;
    }
    40%{
        stroke-dashoffset: 4300;
        fill: transparent;
    }
    80%{
        stroke-dashoffset: 0;

    }
    100%{
        fill: #5f0f4e;
        
    }
}
@keyframes logoanim{
    0%{
        stroke-dashoffset: 9600;
    }
    40%{
        stroke-dashoffset: 4300;
        fill: transparent;
    }
    80%{
        stroke-dashoffset: 0;
    }
    100%{
        fill: #5f0f4e;
        
    }
}
