*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
::selection{
  background-color: #F17877 ;
  color: white;
}

body{
    font-family: sans-serif;
}

/*navbar*/
.navbar{
    background-image:linear-gradient(to right, #64a587, #446b50) ;
    padding: 0 ;
}
#Calque_1{
    fill: white;
}
#Calque_1{
    width: 10em;
}
.navbar-nav li{
    font-size: 100%;
    padding: 0 10px;
}
.navbar-nav li a{
    color: #ffffff  ;
    font-weight: 600;
}
.navbar-toggler{
    outline: none  ;
    color:white;
}


/*formulaire de creation*/
#create{
    box-shadow: 0px 0px 10px gray;
    padding: 1em;
    margin: 8% 20%;
}
.form-control{
    width: 100%;
    padding: 0.5em;
    outline: none;
    border-radius: 5px;
    border-color: #F17877;
    margin-left: 0;
}
.form-control:focus {
    border-color: #F17877;
    box-shadow: inset 0 1px 1px white, 0 0 8px #F17877;
}
option:hover { 
  background-color: #F17877 ;
  color: white;
}

#btnv {
  margin-top: 3em ;
}

.rating-system{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.rating-system textarea{
    width:100%;
    margin-bottom: 2em
}
#titre{
    max-width: 100%;
    color: #446b50;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: left;
}
/*bouton submit*/
.btn-sample { 
    color: #F17877; 
    background-color: #FFFFFF; 
    border-color: #F17877; 
    outline: none;
} 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
    color: #F17877; 
    background-color: #FFEAE1; 
    border-color: #F17877;
}   
.btn-sample:focus{
    box-shadow: inset 0 1px 1px white, 0 0 8px #f05555;
}

@media (max-width: 760px) {
    #create{
       width:100%; 
       margin: 0;   
       justify-content: center;
       padding-left: 8%;
    }
}
/*footer*/
footer{
    background: rgb(65, 64, 64);
    color: white;
    position:sticky;
}

.footer-pad{
  margin-left: 2em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
}
.footer-pad h3{
  margin-top: 1em;
  margin-bottom: 0.8em;
}
.footer-pad h3::before{
  content: '|';
  color: #F17877;
  padding-right: 0.25em;
}
ul.navigation li{
  list-style: none;
  margin-bottom: 0.5em;
  margin-left: -2em;
}

ul.navigation a{
  text-decoration: none;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
}
ul.navigation a:hover{
  color: #F17877;
}
.copy{
  margin-top: 2em;
  background-image:linear-gradient(to right, #64a587, #446b50)
}
.copy p{
  margin-top: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.15em;
  font-size: 16px;
}


/*form*/
#prblm{
  display: flex;
  flex-direction: column;
  padding:0;
}
#prblm input{
  height: 2em;
}
#prblm textarea,input{
  border: none;
  outline: none;
  resize: none;
  width: 80%;
  margin:5px;
  border-radius: 5px;
  padding-left: 5px;
  margin-left: 1em;
  margin-bottom: 1em;
  background: #ffeae1;
}
#prblm button{
  border: none;
  border-radius: 5px;
  width: 80%;
  margin: 5px;
  height: 2em;
  margin-left: 1em;
  background: #ffeae1;
  color: #757575;
  outline: none;
}
#prblm button:hover{
  background: #F17877;
  color: white;
}
.footer-pad #network{
  margin-bottom: 1.5em;
}

/*Social Icon*/
ul.social-network i{
  font-size: 20px;
}
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0;
    padding: 0;
}
  
ul.social-network li {
    display: inline;
    margin: 0 0.2em;
}
ul.social-circle li{
      margin-top: 100px;
}
.social-network a.iconfb:hover {
    background-color: #3B5998;
}
.social-network a.iconlink:hover {
    background-color: #007bb7;
}
.social-network a.iconinst:hover {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.social-network a.icontwi:hover {
    background-color: #00acee;
}
.social-network a.iconfb:hover i,
.social-network a.iconlink:hover i, .social-network a.icontwi:hover i, .social-network a.iconinst:hover i {
    color: #fff;
}
  
.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}
  
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}
.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: white;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s; 
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
.social-network a {
    background-color: #F17877;
}