*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-svg{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 50;
}
.logo-svg path{
    fill: transparent;
    stroke: #a12d88;
    stroke-width: 10;
    stroke-dasharray: 9600;
    stroke-dashoffset: 0;
    animation: logoanim 3s linear forwards;
    
}
@keyframes logoanim{
    0%{
        stroke-dashoffset: 9600;
    }
    40%{
        stroke-dashoffset: 19200;
        fill: transparent;
    }
    80%{
        stroke-dashoffset: 19200;
        fill: #5f0f4e;
        opacity: 1;
    }
    100%{
        fill: #5f0f4e;
        opacity: 0;
    }
}

