*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.logo-svg{
    display: flex;
    position: absolute;
    top: 50%;
    width:100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 50;
}
.logo-svg svg{
    position: absolute;
    max-width: 500px;
    width: 90%;
}
.logo-svg path{
    fill: transparent;
    stroke: #a12d88;
    stroke-width: 2em;
    stroke-dasharray: 37450;
    stroke-dashoffset: 0;
    animation: logoanim 3s linear forwards;
    -webkit-animation: logoanim 3s linear forwards;
    -moz-animation: logoanim 3s linear forwards;
    
}

@-moz-keyframes logoanim{
    0%{
        stroke-dashoffset: 37450;
        fill: transparent;
    }
    90%{
        stroke-dashoffset: 0;
        fill: transparent;
    }
    100%{
        fill: #d444b5 ;
    }
}
@-webkit-keyframes logoanim{
    0%{
        stroke-dashoffset: 37450;
        fill: transparent;
    }
    90%{
        stroke-dashoffset: 0;
        fill: transparent;
    }
    100%{
        fill: #d444b5 ;
    }
}
@keyframes logoanim{
    0%{
        stroke-dashoffset: 37450;
        fill: transparent;
    }
    90%{
        stroke-dashoffset: 0;
        fill: transparent;
    }
    100%{
        fill: #d444b5 ;
    }
}

