*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #000;
}
.stars-container{
    width: 350px;
    background: #111;
    padding: 20px 25px;
    border:1px solid #444;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stars-container .stars-widget input{
    display: none;
}
.stars-widget label{
    font-size: 35px;
    color: #444;
    padding: 5px;
    float: right;
    transition: all 0.2s ease;
}
.stars-widget input:not(:checked) ~ label:hover, 
.stars-widget input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
    
}
input#rate-5:hover ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
input#rate-4:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 15px #952;
}
input#rate-4:hover ~ label{
    color: #fe7;
    text-shadow: 0 0 15px #952;
}
input#rate-3:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 10px #952;
}
input#rate-3:hover ~ label{
    color: #fe7;
    text-shadow: 0 0 10px #952;
}
form h1{
    font-family: cursive;
    width: 100%;
    font-size: 25px;
    color: #fe7;
    margin: 5px;
    font-weight: 500;
    text-align: center;
    transition: all 0.2s ease;
    
}
form textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #444;
    outline: none;
    padding: 5px;
    font-size: 12px;
    background: #222;
    color: beige;
    resize: none;
    border-radius: 10px;
}
button{
    width: 100%;
    border: 1px solid #444;
    height: 30px;
    background-color: transparent;
    color: beige;
    font-family: cursive;
    font-weight: 500;
    font-size: 17px;
    border-radius: 10px;
}
